<tr>
    <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5">
        Здравствуйте!
        На сайте Rentalexchange.com был выполнен запрос на изменение пароля пользователя с указанием адреса ${userEmail}
        .
    </td>
</tr>
<tr>
    <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5">
        <p>Для изменения пароля перейдите по <a href=${restorePasswordLink}>этой ссылке</a><br>
            (или откройте в интернет-браузере ссылку ${restorePasswordLink})</p>

    </td>
</tr>
