<html>
<body>
<h2>Здравствуйте!<br></h2>
На сайте <strong>Rental-exchange</strong> была выполнена регистрация учётной записи пользователя с указанием адреса ${userEmail}. <br>

Если Вы случайно получили это письмо, пожалуйста, проигнорируйте его.<br>

Для активации учётной записи пользователя перейдите по <a href=${registrationConfirmLink}>этой ссылке</a><br>
(или откройте в интернет-браузере ссылку <a href=${registrationConfirmLink}>).<br>

    Если у вас возникли вопросы, пишите в <a href= "mailto: exchange.rental.info@gmail.com">службу поддержки</a> по адресу exchange.rental.info@gmail.com.<br>

    Пожалуйста, не отвечайте на данное письмо.<br>

    <strong>С уважением, Ваш <a href=rental-excnage.com>Rental-exchange</a>.</strong>
</body>
</html>